* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/* ------------- HOMEPAGE STYLING -------------- */
.home-body {
    background-color: rgb(42, 157, 165);
}

.home-div{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 5px solid rgb(58, 233, 15);
    text-align: center;
    width: 50%;
    margin: 0 auto;
    
}
.header1 {
    padding: 5px;
    margin: 10px;
    text-align: center;
}
.home-list li {
  display: inline-block;
  margin: 0 10px;
}


/* ------------------ PIZZA STYLING ------------------*/
.pizza-body {
    background-color: #111;
    color: white;##
}

.pizza-image {
    height: auto;
    width: 560px;
    display: block;
    margin: 0 auto;
}

.pizza-div {
    background-color: #b30000;
    color: black;
    margin: 20px;
    padding: 15px;
    border: 2px solid white;
    border-radius: 8px;
}