* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(42, 157, 165);
}

.home-div{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 5px solid rgb(58, 233, 15);
    text-align: center;
    width: 50%;
    margin: 0 auto;
    
}

.header1 {
    padding: 5px;
    margin: 10px;
    text-align: center;
}
li {
  display: inline-block;
  margin: 0 10px;
}